{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content%}


<div class="container mt-4">
    <a href="http://localhost:5000/show/create" class="btn btn-primary bton-outline-primary mb-4 mt-4">Add Show</a>

    <div class="row">
        {% for show in shows %}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{show.name}}</h5>
                    <p class="card-text">Rating : {{show.rating}}</p>
                    <p class="card-text">Tags : {{show.tag}}</p>
                    <p class="card-text">Price : {{show.ticket_price}}</p>
                    <p class="card-text">Venue : {{show.show_venue.name}}</p>
                    <p class="card-text">Date : {{show.date}}</p>
                    <span>
                        <a href="/show/delete/{{show.id}}" class="btn btn-danger">Delete</a>
                        <!-- <a href="#" class="btn btn-warning">Edit</a> -->
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}